albumentations==2.0.8
beautifulsoup4==4.15.0
bintrees==2.2.0
clip==0.2.0
comet_ml==3.58.4
coremltools==9.0
csscompressor==0.9.5
dvclive==3.49.1
flatbuffers==25.12.19
hub_sdk==0.0.25
ipython==8.12.3
jsmin==3.0.1
lap==0.5.13
lvis==0.5.3
matplotlib<3.10.0
mct_quantizers==1.7.0
minify_html==0.18.1
MNN==3.6.1
model_compression_toolkit==2.6.0
mss==10.2.0
natsort==8.4.0
ncnn==1.0.20260526
nncf==3.3.0
numpy
opencv_python
opencv_python_headless==4.11.0.86
openvino==2026.3.0
pafy==0.5.5
pandas==3.0.5
Pillow==12.3.0
pillow_heif==1.5.0
psutil==7.0.0
py_cpuinfo==9.0.0
pycocotools==2.0.11
pymzml==2.5.11
pytest==9.1.1
pytubefix==10.11.0
PyYAML==6.0.3
ray==2.57.0
Requests==2.34.2
sahi==0.12.5
scipy==1.17.0
seaborn==0.13.2
sentry_sdk==2.67.1
Shapely==2.1.2
sony_custom_layers==0.3.0
streamlit==1.61.1
super_gradients==3.7.1
tensorflow==2.21.0
tensorflowjs==4.22.0
tensorrt==11.2.1.2
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==5.15.0
tritonclient==2.71.0
ultralytics_thop==2.0.13
wandb==0.28.2
x2paddle==1.6.0
yt_dlp==2026.7.4